/* Class selector */
.text {
    color: gray;
    font-family: 'Arial', sans-serif;
  }
  
  /* ID selector */
  #main-header {
    color: darkblue;
    font-size: 3em;
  }
  
  /* Specific ID selector */
  #first-paragraph {
    font-weight: bold;
    color: chocolate;
  }
  